$mainColor: #6640f4; // 0066ff
$primaryColor: #0066ff;
$secColor: #02b5ff;
$btnColor: #6640f4;
$btnHoverColor: #4a00e1;
$gradient: linear-gradient(to right, #0c3df4 0%, #02b5ff 100%);
$border: 1px solid hsl(216, 33%, 20%);
$textColor: hsl(216, 33%, 20%);
$trans: 0.5s ease;
$colorWhite: #FFF;